.container {
    display: block;
    margin: 0 30px;
}
.intro-block p, 
.first-block p,
.second-block p,
summary.summary,
.third-block p, 
.fourth-block p,
.fifth-block p {
    font-family: "IBM Plex Sans", sans-serif;
    color: #000000;
    font-weight: 400;
}
.intro-block {
    text-align: center;
    margin-top: 120px;
}
.intro-block h2 {   
    font-family: 'Montserrat',sans-serif;    
    letter-spacing: normal;
    font-size: 46px;
    line-height: 56px;
    padding-right: 13px;
    margin-bottom: 31px;
}
.intro-block p {
    width: 613px;
    font-size: 18px;
    line-height: 26px;
    padding-right: 1px;
    margin: 0 auto;
}
.first-block .head_5, 
.second-block .head_5, 
.third-block .head_5, 
.fourth-block .head_5,
.fifth-block__header{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    color: #121212;
    margin-bottom: 0;
} 

.fifth-block__price-box p{
    color: #404040;
    }
.first-block {
    display: flex;
    justify-content: space-between;
    margin-top: 99px;
}
.first-block__img-box{
    width: 61%;
    display: flex;
}
.first-block_img{
    margin-right: 10px;
}
.first-block_img-sm {
    display: none;
}
.first-block_img img {
    width: 100%;
}
.first-block_img-2{
    margin-right: 0;
}
.first-block__text-box-big{
    width: 30.77%;
    margin: 18px 131px 0 0 ;
}
.first-block__text-box-big p{
    line-height: 24px;
    margin: 25px 0 0 0;
}
.first-block__text-box-sm{
    display: none;
}
.first-block__text-box-big .head_5,
.third-block .head_5,
.forth-block .head_5{
    padding-top: 0;
}
.box_img-description, .box_img-description-fourth {
    display: block;
    justify-content: center;
}
.box_img-description-m1{
    font-family: 'Montserrat', sans-serif;
    padding-left: 1px;
}
.box_img-description-m2, .box_img-description-fourth-1{
    font-family: 'Montserrat', sans-serif;
    padding-right: 2px;
}
.img-description-section, 
.img-description-name {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    color: #000;
    margin-top: 3px;
}
.img-description-section {
    font-weight: 600;
    letter-spacing: -0.1px;
}
.img-description-name {
    font-weight: 400;
    letter-spacing: -0.2px;
}  
.second-block {
    display: flex;
    justify-content: space-between;
    margin: 118px 0 88px 0;
}
.second-block__img-box {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.second-block__text-box {
    max-width: 358px;
    line-height: 24px;
    margin: 38px 3px 0 77px;
}
.second-block__text-box-sm, 
.second-block__text-box-mob{
    display: none;
}
.second-block__text-box .head_5{
    max-width: 358px;
    margin: 30px 0 25px 0;
}
.second-block__text-box p {
    margin-bottom: 13px;
    padding-right: 9px;
}
.second-block__img-box-wrapper:first-child{
    margin:0 10px 0 1px;
}
.second-block_img-sm, .second-block_img-mob {
    display: none;
}
.second-block__img-box img, .fourth-block__img-box img {
    width: 100%;
}
.third-block {
    display: flex;
    margin-top: 114px;
}
.third-block .head_5 {
    margin-bottom: 0;
}
.third-block__img-tablet, .third-block__img-mob{
   display: none;
}
.third-block__img-box {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.third-block__img-1 {
    width: 340px;
    height: 280px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background:    url(http://placehold.it/340x280/078) no-repeat;
}
.third-block__img-2 {
    width: 340px;
    height: 280px;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 1 / 2;
    background:    url(http://placehold.it/340x280/078) no-repeat;
}
.third-block__img-3 {
    width: 440px;
    height: 570px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background:    url(http://placehold.it/440x570/078) no-repeat;
}
.third-block__text-box {
    max-width: 400px;
    margin: 112px 130px 0 0;      
}
.third-block__text-box-sm {
    display: none;
}
.third-block__text-box-mob {
    display: none;
}
.third-block__text-box p {
    line-height: 24px;
    margin-top: 25px;
}
.third-block__text-box-sm {
    display: none;
}
.fourth-block{
    display: flex;
    margin-top: 120px;
}
.fourth-block__img-box {
    width: 67%;
    display: flex;        
}
.fourth-block_img-sm {
    display: none;
}
.fourth-block__text-box {
    max-width: 358px;
    line-height: 24px;
    margin: 30px 0 0 75px;
}
.fourth-block__text-box-sm {
    display: none;
}
.fourth-block__text-box-mob {
    display: none;
}
.fourth-block__text-box .head_5{
    margin-bottom: 25px;
}
.fourth-block__img-box-wrapper img {
     width: 100%;
}
.fourth-block__img-box-wrapper:first-child{
    margin-right: 11px;
}
.fourth-block__text-box-sm {
    display: none;
    justify-content: space-between;
}
.box_img-description-fourth {
    font-family: 'Montserrat', sans-serif;
    display: block;
    justify-content: center;
}
.fifth-block {
    margin: 118px 0 121px 0;
}
.fifth-block_img-sm{
    display: none;
}
.fifth-block__img-wrapper {
    display: flex;
    justify-content: space-between;
}
.fifth-block__img-box {
    width: 48.5%;
    height: fit-content;
    margin: 0;
}
.fifth-block__img-box a{
    display: block;
}
.fifth-block__header {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.7px;
    font-style: normal;
    font-weight: 900;
    font-size: 37px;
    line-height: 46px;
    margin-bottom: 49px;
}
.fifth-block__price-box {
    display: flex;

}
.fifth-block__price-box a{
    display: flex;
    text-decoration: none;
}
.fifth-block__price-box p {
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 29px;
    margin: 0;
}
.fifth-block__price-box span {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: -0.5px;
    color: #2890a3;
    margin-left: 15px;
}
.fifth-block_img {
    width: 100%;
}
@media screen and (max-width: 1373px) {
    .first-block__text-box-big {
        width: 36%;
        margin: 0 30px 0 0;
    }
    .fourth-block__text-box {
        margin: 0 0 0 40px;
    }
    .fourth-block__text-box .head_5 {
        margin-bottom: 25px;
        padding: 0;
    }
}
@media screen and (max-width: 1310px) {
    .second-block__text-box {
        margin: 0 0 0 40px;
    }
    .second-block__text-box .head_5 {
        margin: 0 0 25px 0;
        padding:0; 
    }
    .third-block__text-box {
        margin: 50px 40px 0 0;
    }
} 
@media screen and (max-width: 1215px) {
    .third-block__text-box {
        margin-top: 0;
    }
} 
@media screen and (max-width: 1160px){
    .text p {
        margin-top: 0px;
    }
    .intro-block p, 
    .first-block p,
    .second-block p,
    summary.summary,
    .third-block p, 
    .fourth-block p,
    .fifth-block p {
        font-size: 14px;
        line-height: 22px;
    }
    .intro-block h2 {
        letter-spacing: normal;
        font-size: 26px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 20px;
        padding-right: 1px;
    }
    .intro-block p {
        width: 460px;
    }
    .head_5 {
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
        flex-basis: 30%;
    }
    .head_5:nth-of-type(1) {
        padding-top: 1px;
    }
    .first-block {
        width: 100%;
        flex-direction: column;
        margin-top: 60px;  
    }
    .first-block__text-box-big, 
    .second-block__text-box, 
    .third-block__text-box, 
    .fourth-block__text-box {
        display: none;
    }
    .first-block__text-box-sm, 
    .second-block__text-box-sm, 
    .third-block__text-box-sm, 
    .fourth-block__text-box-sm {
        width: 100%;
        display: flex;
    }
    .details[open] .summary {
        display: none;
    }
    details > summary {
        list-style: none;
    }
    .summary {
        font-size: 14px;
    }
    .summary span {
        display: inline-block;
        font-weight: 600;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.055em;
        text-transform: uppercase;
        color: #121212;
        border-bottom: 1px solid #2890a3;
        margin: 15px 0 40px 0;         
        }
    .details {
        width: 50%;
    }
    .first-block .head_5, 
    .second-block .head_5, 
    .third-block .head_5, 
    .fourth-block .head_5{
        flex-basis: 48.5%;
        margin: 0 36px 5px 0;
    }  
    .first-block__img-box {
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .first-block_img{
        width: 48.5%;
        margin: 0px;
    }
    .first-block_img-big, 
    .second-block_img,
    .fourth-block_img {
        display: none;
    }  
    .first-block_img-sm,  .second-block_img-sm, .fourth-block_img-sm{
        display: flex;
    }
    .box_img-description{
        padding-right: 21px;
    }
    .img-description-section {
        line-height: 11px;
        margin-top: 14px;
    }        
    .img-description-name {
        line-height: 11px; 
        margin-top: 13px;     
    }   
    .second-block {
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 70px;
    }
    .second-block__img-box, 
    .fourth-block__img-box {
        width: 100%;
        justify-content: space-between;
    }     
    .second-block__img-box-wrapper {
        width: 48.5%;
    }
    .third-block {
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 70px;
    }
    .third-block__text-box-sm .summary {
        width:82%;
    }
    .third-block__img-box {
        width: 100%;
        display: flex;
        justify-content: center;  
    }
    .third-block__img-1, 
    .third-block__img-2, 
    .third-block__img-3 {
        display: none;
    }
    .third-block__img-tablet {
        width: 100%;
        display: flex;
    }
    .third-block__img-tablet img {
        width: 100%;
    }
    .fourth-block  {
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 70px;
    }
    .fourth-block__img-box {
        width: 100%;
        justify-content: space-between;
    }  
    .fourth-block__img-box-wrapper {
        width: 48.5%;
    }
    .box_img-description-fourth {
        padding-left: 2px;
    }
    .fifth-block {
        margin-top: 70px;
    }
    .fifth-block__header {
        letter-spacing: -0.9px;
        font-size: 27px;
        margin-bottom: 27px;
    }
    .fifth-block__img-wrapper {
        width: 100%;
        justify-content: space-between;
    }
    .fifth-block__img-box {
        width: 48.5%;
    }
    .fifth-block_img {
        display:none;
    }
    .fifth-block_img-sm {
        width: 100%;
        display:flex;
    }
    .fifth-block__price-box {
        justify-content: center;
        margin-top: 8px;
        padding-right: 36px;
    }
    .fifth-block__price-box-2 {
        padding-right: 6px;
    }
    .fifth-block__price-box a  {
        flex-direction: column;
    }
    .fifth-block__price-box p {
        text-transform: uppercase;
        width: 100%;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.2px;
    }
    .fifth-block__price-box span{
        width: 100%;
        color: #000000;
        font-size: 14px;
        line-height: 1.9;
        letter-spacing: 0px;
        padding-left: 1px;
    }
}
@media screen and (max-width: 600px) {
        .intro-block p {
            width: 100%;
            text-align: start;
        }
        .first-block__text-box-sm {
            flex-direction: column;
            width: 90%;
        }
        .first-block .head_5 {
            width: 59%;
        }
        .details {
            margin-top: 14px;
            width: 100%;
        }
        .summary span {
            margin-bottom: 30px;
        }
        .second-block_img-sm,
        .third-block__img-tablet {
            display: none;
        }
        .first-block__img-box {
            width: auto;
            flex-direction: column-reverse;
            margin: 0 -20px;
        }
        .box_img-description {
            margin-bottom: 33px;
            padding-right: 2px;
        }
        .second-block {
            width: 100%;
            margin-top: 40px;
        }
        .first-block_img {
            width: 100%;
        }
        .second-block__img-box {
            width: auto;
            flex-direction: column;
            margin: 0 -20px;
        }
        .second-block_img-mob {
            display: flex;
        }
        .second-block__text-box-sm,
        .third-block__text-box-sm,
        .fourth-block__text-box-sm {
            display: none;
        }
        .second-block__text-box-mob {
            display: flex;
            flex-direction: column;
        }
        .second-block__img-box-wrapper {
            width: 100%;
        }
        .second-block__img-box-wrapper:first-child {
            margin: 0 0 30px 0;
        }
        .third-block__text-box-mob,
        .fourth-block__text-box-mob {
            display: flex;
            flex-direction: column;
            margin-left: 5px;
        }
        .third-block__img-mob {
            width: 100%;
        }
        .third-block__img-mob img {
            width: 100%;
        }
        .third-block__img-box {
            width: auto;
            margin: 0 -20px;
        }
        .third-block__img-mob {
            width: 100%;
            display: flex;
        }
        .fourth-block__img-box {
            width: auto;
            flex-direction: column;
            margin: 0 -20px;
        }
        .fourth-block__img-box-wrapper {
            width: 100%;
        }
        .fourth-block__img-box-wrapper:first-child {
            margin-right: 0;
        }
        .box_img-description-fourth {
            margin-bottom: 33px;
            padding: 0 2px 0 0;
        }
        .fifth-block {
            margin-top: 34px;
        }
        .fifth-block__header {
            margin-bottom: 22px;
        }
        .fifth-block__img-wrapper {
            width: auto;
            flex-direction: column;
            margin: 0 -20px; 
        }
        .fifth-block__img-box {
            width: 100%;
            height: fit-content;
            padding-right: 0;
        }
        .fifth-block__price-box-2 {
            padding-right: 2px;
        }
        .fifth-block_img-sm {
           width: 100%;
           display: flex;
           margin-right: 0;
       }
       .fifth-block__price-box {
          width: 200px;
          margin: 8px auto 26px auto;
          padding-right: 0;
        }
}